$titlesize: 60px;
$subtitlesize: 80px;
$inpsize: 45px;
$btnsize: 50px;
$btnmartop: 30px;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

$fztitle: 32px;
$lineC: #8a8a8a;
.title {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: $titlesize;
  border-bottom: 1px solid $lineC;

  span {
    text-align: center;
    color: #fff;
    font-size: $fztitle;
    line-height: $fztitle;
    height: $fztitle;
  }
}

$fzinp: 20px;
$inpC: #4d4d4d;
$inpBorC: #888888;
$textC: #6d6d6d;
$inpmartop: 17px;
.inp {
  width: 300px;
  height: $inpsize;
  padding: 0 10px;

  color: #fff;
  background-color: $inpC;
  border-radius: 10px;
  border: 1px solid $inpBorC;

  font-size: $fzinp;

  &1 {
    margin-top: $inpmartop + 1px;
  }

  &2 {
    margin-top: $inpmartop;
  }

  &::placeholder {
    color: $textC;
  }
}

$fzbtn: 36px;
.btn {
  width: 250px;
  height: $btnsize;
  line-height: $fzbtn;
  font-size: $fzbtn;

  margin-top: $btnmartop;
}

.block {
  flex-grow: 1;
}

$fzbotspan: 14px;
$fzclick: 22px;
$textclickC: #ff6868;
$textC: #868686;
.bottomspan {
  width: 100%;
  color: $textC;
  font-size: $fzbotspan;
  padding: 10px;
  text-align: center;

  span {
    color: $textclickC;
    font-size: $fzclick;
  }
}
