$sizeImg: 50px;
@mixin size {
  width: $sizeImg;
  height: $sizeImg;
  border-radius: 50%;
}

$sizeContainer: 70px;
.container {
  display: flex;
  align-items: center;

  width: $sizeContainer;
  height: $sizeContainer;
}

.img {
  @include size();
}

.defaultImg {
  @include size();

  display: flex;
  align-items: center;

  span {
    margin: 0 auto;
    font-size: $sizeContainer * 0.5;
    color: #fff;
  }
}
