.container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;

  border-radius: 50%;

  .span {
    text-transform: uppercase;
    color: #fff;
  }
}
