$bgcdis: #ff202372;
$bgcact: #ff3f41;
$bgchover: #ce3234;
$shadowC: #ff202372;

.btn {
  background-color: $bgcdis;
  border-radius: 1000px;
  box-shadow: 0 3px 15px $shadowC;
  cursor: default;

  span {
    display: block;
    margin: auto;

    text-align: center;
    color: #fff;
  }
}

.active {
  background-color: $bgcact;
  transition: 0.1s;
  cursor: pointer;

  &:hover {
    background-color: $bgchover;
    box-shadow: 0 4px 15px $shadowC;
  }

  &:active {
    background-color: $bgchover;
    transform: translateY(2px);
    box-shadow: 0 4px 10px $shadowC;
  }
}
