$bgc: #ff3f41;
$bgchover: #ce3234;
$shadowC: #ff202372;

.btn {
  background-color: $bgc;
  border-radius: 1000px;
  box-shadow: 0 3px 15px $shadowC;
  transition: 0.1s;

  span {
    display: block;
    margin: auto;

    text-align: center;
    color: #fff;
  }

  &:hover {
    background-color: $bgchover;
    box-shadow: 0 4px 15px $shadowC;
  }

  &:active {
    background-color: $bgchover;
    transform: translateY(2px);
    box-shadow: 0 4px 10px $shadowC;
  }
}
